.orbisModuleHeader
  .pager
    text-align left !important
    margin-top 10px !important

.scroll-top
  width 100%
  text-align center
  & > a
    font-size 14px

#postingsTableDiv
  margin-bottom 10px

.orbisFooter
  margin 0 !important
  height 50px !important
  line-height 25px
  background #1F2D3D !important

.sidebar-nav
  .nav-list
    background #324057 !important
    & > .active
      & > a
        background #6b7b92 !important
        border-radius 4px
    & > li
      & > a
        &:focus
          background #6b7b92 !important
          border-radius 4px
        &:hover
          background #6b7b92 !important
          border-radius 4px

@media (max-width: 767px)
  .sidebar-nav
    .nav-list
      background #324057 !important

@media (max-width: 979px)
  .nav-collapse
    &.in
      &.collapse
        background #324057 !important

@media (min-width: 980px)
  .nbs--fixed-nav
    display none

  .sidebar-nav .nav-list>li>a:hover, .sidebar-nav .nav-list>li>a:focus
    background #6b7b92 !important

@media screen and (min-width: 980px)
  .bs--hide__column
    position fixed !important
    background #324057 !important

  .span2
    &.bs--hide__column
      &:before
        border-right 2px solid #475669 !important

  #mainContentDiv
    margin-left 14.893617021276595% !important
    width 85.4% !important

#postingsTable
  white-space normal !important
  table-layout fixed

.nav--branding
  &.is--hidden
    &.sticky
      a
        &.brand
          height auto !important
          opacity 1 !important

.table
  th
    &:first-of-type
      width 8.25rem !important
    &:nth-of-type(2)
      width 1.5rem
    &:last-of-type
      width 1rem
    &:nth-last-of-type(2)
      width 4rem
    &:nth-last-of-type(3)
      width 3.5rem
    &:nth-of-type(6)
      width 3rem

.table td, .table th
  white-space normal !important

#dashboard_userCommonMyMessages_gridBox
  max-height none

#dashboard_userCommonMyMessages_topScrollBox
  display none

#dashboard_userCommonMyMessagesTableID
  table-layout fixed
  th, td
    white-space normal !important
  td
    &:first-of-type
      width 2.25rem !important
  th
    &:first-of-type
      width 2.25rem !important
    &:nth-of-type(2)
      width 2.75rem !important
    &:nth-of-type(3)
      width 4rem !important
    &:nth-of-type(4)
      width 4rem !important
    &:nth-of-type(6)
      width 4rem !important
    &:nth-of-type(7)
      width 2rem !important
    &:nth-last-of-type(2)
      width initial !important
    &:nth-last-of-type(3)
      width 3rem !important
    &:last-of-type
      width 3rem !important